*{
    box-sizing: border-box;
}

main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #F6F6F6;
}

.bg{
    background-image: url(images/aishat-yesufu/drawable-hdpi/IMG_20201013_180852.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.loginSection{
    place-self: center;
    width: 75%;
}

form{
    padding: 4rem 5.5rem 4rem 2.5rem;
    background-color: white;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
}

form h1{
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #404054;
    font-size: 1.5rem;
}

label{
    font-family: 'acumin-pro',sans-serif;
    font-weight: bold;
    font-size: 0.8125rem;
}

.passwordSection{
    display: flex;
}

.passwordSection label{
    flex: 2;
}

.passwordSection a{
    font-family: 'acumin-pro',sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.8125rem;
    flex: 1;
}

input{
    width: 100%;
    border: 2px solid #EBEDED;
    border-radius: 8px;
    padding: 6px 5px 8px 20px;
    font-size: 0.8125rem;
    background-color: #C6F3C6;
}

input::placeholder{
    font-size: 0.8125rem;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
}

input:focus{
    box-shadow: 1px 1px 4px #0F6D0F;
    outline-style: solid;
    outline-color: transparent;
}

button{
    width: 100%;
    font-size: 0.875rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-color: #0F6D0F;
    border: none;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px!important;
    color: white;
    padding-top: 6px;
    padding-bottom: 8px;
}

form p{
    color: #404054;
    font-size: 1rem;
    font-family: Arial, sans-serif;
}

p>a{
    text-decoration: none;
    color: #0F6D0F;
}

.alternativeLogin{
    position: relative;
}

.alternativeLogin p{
    display: flex; 
    flex-direction: row;
    color: #404054;
    font-size: 1.125rem;
    font-family: Arial, sans-serif;
}

.alternativeLogin p:before, 
.alternativeLogin p:after { 
    content: ""; 
    flex: 1; 
    border-bottom: 1px solid #707070; 
    margin: auto 10px;
}

.socialLogo{
    border: 1px solid #707070;
    border-radius: 8px;
    padding: 6px 13px;
}

@media screen and (max-width: 1440px){
    form{
        padding: 1.5rem 5rem 1.5rem 2rem;
    }
}

@media screen and (max-width: 1024px){
    form{
        padding: 4rem 4rem 4rem 1.5rem;
    }
    .loginSection{
        width: 80%;
    }
}

@media screen and (max-width: 848px){
    form{
        padding: 3rem 3rem 3rem 1.5rem;
    }
    .loginSection{
        width: 90%;
    }
    input{
        border-radius: 6px;
        padding: 4px 5px 6px 15px;
    }
    input::placeholder{
        font-size: 0.75rem;
    }
    button{
        padding-top: 4px;
        padding-bottom: 6px;
    }
    .socialLogo{
        width: 35px;
        border-radius: 8px;
        padding: 4px 11px;
    }
}
@media screen and (max-width: 767px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(images/aishat-yesufu/drawable-hdpi/IMG_20201013_180852.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .bg{
        display: none;
    }
    form{
        background: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .loginSection{
        width: 85%;
    }

    h1, label, p{
        color: #fff!important;
    }

    p>a, .passwordSection a{
        color: gray!important;
    }
}

@media screen and (max-width: 340px){
    form{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}